header{
    padding: 20px;
    text-align: center;
    background-color: #262626;
}
header h1{
    color: #F2F2F2;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header p{
    color: #F2F2F2;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background-color: #333333;
    padding: 13px;
    
}
nav a{
    color: #F2F2F2;
    text-decoration: none;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #F5F5F5;
}
main{
    display: flex;
    gap: 18px;
    padding: 25px;
}
section{
    width: 34%;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 12px;
    padding:  30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}
section p{
    color: #262626;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section h2{
    color: #262626;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section button{
    background-color: #262626;
    color: #F2F2F2;
    border-radius: 8px;
    border: 1px solid;
    padding: 10px 15px;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
footer{
    color: #F2F2F2;
    background-color: #222222;
    text-align: center;
    padding: 13px;
}
footer p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}